@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url(../assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */

    /* 
    shorthand
    background:color img repeat center/cover */
    background: url(../assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
    font-family: 'inter', sans-serif;
}

main {
    width: 360px;
    margin: 56px auto;
}

#profile {
    padding: 24px;
    text-align: center;
}

#profile img {
    width: 112px;
    margin: auto;
}

#profile p {
    color: white;
    font-weight: 500;
    font-size: 1em;
    line-height: 24px ;
}

/* links */

#lista li a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none; 

    display:flex ;
    flex-direction: column;
    gap: 15px;
}



ul li a  {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid rgb(133, 133, 133);
    -webkit-backdrop-filter: blur(4px);
    padding: 16px 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background,transform 0.4s;
}

ul li a:hover {
    border: 1.5px solid white;
    background-color: rgba(128, 128, 128, 0.05);

    
    transform: translateY(-5px);
    
}
