@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url:url(../assets/bg-mobile.jpg);
    --stroke-color:  rgba(255, 255, 255, 0.5);
    --bg-color-a:rgba(255, 255, 255, 0.1);
    --bg-color-a-hover: rgba(128, 128, 128, 0.05);
    --border-hover: white;
    --social-color: gray;
    --botao-bg: url(../assets/sun.svg);
}

.claro {
    --text-color:black;
    --bg-url:url(../assets/bg-mobile-light.jpg);
    --stroke-color:  rgba(0, 0, 0, 0.5);
    --bg-color-a:rgba(0, 0, 0, 0.05);
    --bg-color-a-hover: rgba(0, 0, 0, 0.02);
    --border-hover: black;
    --social-color: rgba(0, 0, 0, 0.2); 
    --botao-bg:  url(../assets/moon-stars.svg);
}

body {
    /* background-image: url(../assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */

    /* 
    shorthand
    background:color img repeat center/cover */
    background: var(--bg-url) no-repeat top center/cover;
}

body * {
    font-family: 'inter', sans-serif;
    color: var(--text-color);
}

main {
    width: 360px;
    margin: 56px auto;
    padding: 0px 24px;
}

#profile {
    padding: 24px;
    text-align: center;
}

#profile img {
    width: 112px;
    margin: auto;
}

#profile p {
    font-weight: 500;
    font-size: 1em;
    line-height: 24px ;
}

#botao {
    position: relative;
    width: 64px;
    margin: auto;
    padding: 4px 0px;
}

#botao button{
    width: 32px;
    height: 32px;
    background-color: white;
    border: none;
    border-radius: 50%;
    background-image: var(--botao-bg) ;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.claro #botao button {
    right: 0;
    left: initial;
}

#botao span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--bg-color-a);
    border: 1px solid var(--stroke-color);
    border-radius: 999px;
    backdrop-filter: blur(4px);
    
}
/* links */


#lista li a {
    text-decoration: none;
}

ul {
    list-style: none; 
    padding: 24px 0px;

    display:flex ;
    flex-direction: column;
    gap: 15px;
}


ul li a  {
    background-color: var(--bg-color-a);
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    padding: 16px 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background,transform 0.4s;
}

ul li a:hover {
    border: 1.5px solid var(--border-hover);
    background-color: var(--bg-color-a-hover);
    
    
    transform: translateY(-5px);
    
}

#social {
    font-size: 24px;
    padding: 24px 0px ; 


    display: flex;
    justify-content: center;

}

#social a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    
    transition: background-color 0.4s;
    border-radius: 50%;
}

#social a:hover {
    background-color: var(--social-color);
}

footer {
    padding: 24px 0px;
    text-align: center;
    font-size: 14px;
}

